if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-0gsh4bmn8mfc1iszxvpinkkq652b3wr238qcrqp8rwybmn7pwrqf="
fi

use flake .
